<div class="d-flex justify-content-start mb-2">
  <button type="button" (click)="insert()"  class="btn btn-success">New</button>
</div>
<table class="table table-bordered">
  <thead class="header-bg">
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Edit</th>
      <th scope="col">
        Delete
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts;">
      <td>{{ contact.id}}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.email}}</td>
      <td>
        <button type="button" (click)="update(contact)" class="btn btn-primary">Edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(contact.id)">Delete</button>
      </td>
    </tr>
    <tr *ngIf="contacts.length === 0">
      <td colspan="6">No contact information available</td>
    </tr>
  </tbody>
</table>

<app-contact-form *ngIf="action=='Insert' || action === 'Update'" [contact]="currentContact" [action]="action" (onSave)="save($event)"></app-contact-form>

